{% extends "auctions/layout.html" %}
{% load static %}


<!-- Page Title -->
{% block title %}
    Auctions
{% endblock title %}


<!-- Carousel -->
{% block carousel %}
{% include 'auctions/carousel.html' %}
{% endblock %}

<!-- Page Content -->
{% block body %}
<div class="container main" style="background-color: lightslategray;">
    
    <!-- Popular Categories -->
    <div class="row">
        <h3 class="text-center">Categories</h3>
    
        <div class="categories padding">
            <div class="row">
                {% for category in categories_1 %}
                <div class="category col-sm-12 col-md-6 col-lg-3">
                    <a href="{% url 'category-list' category.name %}">
                        <img src="{% static 'auctions/images/leaves.jpg' %}" alt="{{ category.name }}">
                        <div class="centered">{{ category.name }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for category in categories_2 %}
                <div class="category col-sm-12 col-md-6 col-lg-3">
                    <a href="{% url 'category-list' category.name %}">
                        <img src="{% static 'auctions/images/leaves.jpg' %}" alt="{{ category.name }}">
                        <div class="centered">{{ category.name }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Recent Listings -->
    <div class="row">
        <h3 class="text-center font-weight-bold">Recent Listings</h3>
        <div class="newest-listings padding">
            <div class="row">
                {% for listing in listings  %}
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex pb-3">
                    <div class="card-deck">
                        <div class="card">
                            <a href="{% url 'listing-detail' listing.id %}" class="stretched-link">
                                <img src="{{ listing.image_url }}" class="card-img-top" alt="{{ listing.name }}"></a>
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center">{{ listing.title }}</h5>
                                <strong class="card-text price text-center">${{ listing.get_current_bid }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <!-- Show All Button -->
        <div class="text-center">
            <a href="{% url 'active' %}">
                <button class="btn btn-custom show-btn" type="button">Show All</button>
            </a>
        </div>

    </div>

</div> 
{% endblock body%}

