{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c9e55dc546.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navbar -->
        {% block navbar%}
            {% include 'auctions/navbar.html' %}
        {% endblock %}

        <!-- Carousel -->
        {% block carousel %} {% endblock %}

        <!-- Main -->
        {% block body %}

        <div class="content">
            <div class="row">
                <div class="sidebar col-3">
                    {% block sidebar %} {% endblock %}
        
                <div class="main col-9">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>     

        {% endblock body %}

        <!-- Footer -->
        <footer>
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-md-8" style="font-size: small;">
                        <br>
                        <hr class="light">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat lorem lacus, non placerat eros rutrum vel.
                            Nam rutrum tincidunt lorem et sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti
                            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p>
                        <hr class="light">
                    </div>
                    <div class="col-md-4" style="font-size: small";>
                        <hr class="light">
                        <h4 style="font-weight: bold;">Auctions</h4>
                        <hr class="light">
                        <p>Created by Dhita <br>for Project 2 of CS50W 2020</p>
                        <p>github: dhita-irma</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
