{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid main bg-white" style="padding-bottom: 450px;">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <h1 class="text-center mb-4">Create New Listing</h1>

            <form action="{% url 'listing-create' %}" method="POST">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>
</div>


{% endblock body %}
