{% extends 'auctions/layout-listing.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <small>By {{ listing.seller }} on {{ listing.created_date }}</small>
    <p>{{ listing.description }}</p>
    <p>Price started: {{ listing.start_price }}</p>

    <form action="{% url 'listing-bid' listing.id %}" method="POST">
        {% csrf_token %}
        {% crispy bid-form %}
    </form>

    <br>
    <a href="{% url 'watchlist-add' listing.id %}">Add to Watchlist</a>
    <br>
    <hr>
    <h2>Comments</h2>
    <a href="#">Add Comment</a>
    <br><br>
    {% if not listing.comments.all %}
    No comments yet... <a href="#">Add one</a>
    {% else %}
    {% for comment in  listing.comments.all %}
    <strong>{{ comment.user }} - 
        {{ comment.posted_date }}
    </strong>
    <br>
    {{ comment.body }}
    <br><br>
    <hr>
    {% endfor %}
    {% endif %}
    <form action="{% url 'listing-detail' listing.id %}" method="POST">
        {% csrf_token %}
        {% crispy comment-form %}
    </form>
    <br><br>
{% endblock body %}
