{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}


{% block body %}
<div class="container main">
    
    <div class="row">
        <!-- Sidebar -->
        <div class="sidebar col-lg-3">
            {% include 'auctions/sidebar.html' %}
        </div>
    
        <!-- Listings -->
        <div class="col-lg-9">
            <h2 class="text-center pb-3">{{ title }}</h2>
            
            <!-- Cards -->
            <div class="row">

                {% for listing in listings %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card no-border h-100 ">
                        <a href="{% url 'listing-detail' listing.id %}"><img class="card-img-top" src="{{ listing.image_url }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a>
                            </h4>
                            <h5>${{ listing.get_current_bid }}</h5>
                            <p class="card-text">{{ listing.description }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">By {{ listing.seller }} on {{ listing.created_date }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
                
            
            </div>
            <!-- /.row -->
    
        </div>
          <!-- /.col-lg-9 -->

    </div>
</div>     
{% endblock body %}

