{% extends "auctions/layout.html" %}
<!-- {% load crispy_forms_tags %} -->

{% block body %}
    <h1 style="text-align: center;">Delete Listing</h1>

    <form method="POST">
        {% csrf_token %}
        <!-- {% crispy form %} -->
        <h2>Are you sure you want to delete {{ object.title }}?</h2>
        <button class="btn btn-danger" type="submit">Yes, delete</button>
        <a href="{% url 'listing-delete' object.id %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock body %}
