{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ listing.title }}
{% endblock title %}


{% block body %}

    <!-- Page Content -->
    <div class="container" style="background-color: white;">
        <div class="row">
            <!-- Listing Column -->
            <div class="col-lg-8">

                <!-- Listing Information -->
                <h1 class="text-center mt-4">{{ listing.title }}</h1>

                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="img-fluid img-thumbnail rounded mx-auto d-block mt-3">
                
                <p class="mt-4">{{ listing.description }}</p>
                <p class="mt-4">Starting price: ${{ listing.start_price }}</p>
                
                <hr>
                <small>Listed by {{ listing.seller }}</small>
                <small>on {{ listing.created_date }}</small> <br>
                <small>Category: 
                    {% for category in listing_categories %}
                        <a href="{% url 'category-list' category %}">
                            {{ category }}                        
                        </a>
                    {% endfor %}
                </small>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header bg-custom">Leave a Comment:</h5>
                    <div class="card-body">
                        <form action="{% url 'listing-comment' listing.id %}" method="POST">
                            {% csrf_token %}
                            {% crispy comment-form %}
                        </form>
                    </div>
                </div>

                <!-- Comment Section -->
                {% if not listing.comments.all %}
                    <div class="mb-5">
                        No comments yet... 
                    </div>
                {% else %}
                    {% for comment in  listing.comments.all %}
                        <div class="media">
                            <img src="http://placehold.it/50x50" alt="" class="d-flex mr-3 rounded-circle">
                            <div class="media-body">
                            <h5 class="mt-0">{{ comment.user }} <span class="small-muted">{{ comment.posted_date }}</span></h5> 
                            {{ comment.body }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Sidebar Column -->
            <div class="col-md-4">

                <!-- Alert -->
                {% if not user.is_authenticated %}
                    <div class="alert alert-primary mt-6" role="alert">
                        Want to make a bid? <br>
                        <strong><a href="{% url 'login' %}">Sign In</a></strong> or 
                        <strong><a href="{% url 'register' %}">Create Account</a></strong>
                    </div>
                {% else %}
                    <div class="mt-6"></div>
                {% endif %}

                <!-- Active Listing -->
                {% if listing.is_active %}

                    <!-- Price & Bids -->
                    <div class="card listing-sidebar no-border">
                        <h5 class="card-header no-border bg-custom text-center">Current Bid</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h4 class="price text-center">${{ listing.get_current_bid }}</h4> 
                            </li>
                            <li class="list-group-item pt-3">
                                <form action="{% url 'listing-bid' listing.id %}" method="POST" class="form-inline">
                                    {% csrf_token %}
                                    {% crispy bid-form %}
                                </form>
                                <small class="px-3 text-muted">Bid must be at least ${{ listing.get_current_bid }}</small>
                            </li>
                        </ul>
                    </div>


                    <!-- Close Auction -->
                    {% if user == listing.seller %}
                        <div class="my-3 text-center">
                            <form action="{% url 'listing-close' listing.id %}">
                                <button type="submit" class="btn btn-info btn-block">Close Auction</button>
                            </form>
                        </div>
                    {% endif %}
                    
                    <!-- Add to Watchlist -->
                    <div class="mt-3">
                        {% if user != listing.seller %}
                            {% if not is_watchlist %}
                                <a href="{% url 'watchlist-add' listing.id %}">
                                    <button type="submit" class="btn btn-custom btn-block btn-rounded">Add to Watchlist</button>
                                </a>
                            {% else %}
                                <a href="{% url 'watchlist-remove' listing.id %}">
                                    <button type="submit" class="btn btn-secondary btn-block btn-rounded">Remove from Watchlist</button>
                                </a>
                            {% endif %}
                        {% endif%}
                    </div>


                {% else %}

                    <!-- If Auction is Closed -->
                    {% if listing.get_winner %}
                        {% if listing.get_winner == user %}
                            <div class="card mt-6">
                                <div class="card-header bg-custom text-center ">
                                    <b>This auction is closed</b>
                                </div>
                                <div class="card-body">
                                    <h6>Congratulations, {{ user }}. You won this auction!</h6>
                                    <h5>Sold for: <span class="price">${{ listing.get_current_bid }}</span></h5>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="card mt-6">
                            <div class="card-header">
                                This listing is closed.
                            </div>
                            <div class="card-body">
                                Sold for: ${{ listing.get_current_bid }}
                            </div>
                        </div>                        
                    {% endif %}

                {% endif %}
            </div>

        </div>
    </div>


{% endblock body %}
