

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow bg-white rounded">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <strong>Auctions</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <!-- Home -->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- Listings -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'active' %}">Listings</a>
                </li>

                <!-- Create Listing -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listing-create' %}">Create Listing</a>
                </li>

                {% if user.is_authenticated %}

                    <!-- Account -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Create Listing</a>
                            <a class="dropdown-item" href="#">My Listing</a>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </li>
            
                {% else %}
                    <!-- Login -->
                    <li class="nav-item" style="background-color: white;">
                        <a class="nav-link" href="{% url 'login' %}">
                            <button type="button" class="btn btn-custom btn-rounded">Login</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

